# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Testing & Cache
.pytest_cache/
.coverage
htmlcov/

# Local databases & logs
*.db
*.sqlite
*.sqlite3
*.log

# Node & Frontend
node_modules/
dist/

# Environments & secrets
.env
.env.local
.venv/
venv/
